name: Selenium

on:
  push:
    paths: ['selenium/**']
  pull_request:
    paths: ['selenium/**']
  workflow_dispatch:

env:
  DISPLAY: :99

jobs:
  tests:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        java: [ 17 ]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout GitHub repo
      uses: actions/checkout@v6
    - name: Set up Java
      uses: actions/setup-java@v5.1.0
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
        cache: 'maven'
    - name: Start Xvfb
      if: matrix.os == 'ubuntu-latest'
      run: Xvfb $DISPLAY &
    - name: Run tests
      run: |
        cd selenium
        mvn -B test
        mvn allure:report
    - name: Store screenshots
      uses: actions/upload-artifact@v6
      if: always()
      with:
        name: selenium-screenshots
        path: selenium/*.png
        retention-days: 30
    - name: Store recordings
      uses: actions/upload-artifact@v6
      if: always()
      with:
        name: selenium-recordings
        path: |
          selenium/*.mp4
          /home/runner/Downloads/*.webm
        retention-days: 30
    - name: Store reports
      uses: actions/upload-artifact@v6
      if: always()
      with:
        name: selenium-reports
        path: selenium/target/site/allure-maven-plugin
        retention-days: 30